
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightcyan;
}
h1{
    display:flex;
    justify-content: center;
    align-items: center;
    background: crimson;
    height: 100%;
    width: 80vw;
    padding-bottom: 0px;
    padding-top: 25px;
    margin-bottom: 0;
    margin-top: 20px;
    border-left: crimson solid 80px;
    border-right: crimson solid 80px;
    border-top-left-radius: 90%;
    border-top-right-radius: 90%;
    font-family:cursive;
    font-size: 5rem;
    color: goldenrod
}
main{
    display:flex;
    height: 65vh;
    width: 80vw;
    border-left: solid crimson 80px;
    border-right:solid crimson 80px;
    border-top:solid crimson 30px;
    border-bottom:solid crimson 30px;
    padding-bottom: 10px;
}
#grid{
    display: grid;
    height: 100%;
    width: 100%;
    border: solid 5px goldenrod;
    background-color: rgba(226, 226, 226, 0.863);
}
.rcell{
    /*border: 1px solid blue;*/
    display: inline-block;
}
.ccell{
    /*border: 1px solid blue;*/
    display: inline-block;
}
#moused{
    background-color: black;
}

.buttons{
    display:flex;
    justify-content: center;
    gap: 60px;
}
.footer{
    display:flex;
    justify-content: center;
    background: crimson;
    height: 100%;
    width: 80vw;
    max-height: 80px;
    border-bottom: solid crimson 30px;
    border-left: solid crimson 80px;
    border-right:solid crimson 80px;
}
